@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Mulish", sans-serif;
}

.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 20px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #007320;
    color: white;
}

.header a.active {
    text-decoration: underline;
    color: black;
}

.header-right {
    float: right;
    margin: auto;
    padding-right: 10px;
    margin-right: auto;
}

.header-right-toggle {
    display: none;
}

.header a.tombol {
    background-color: #007320;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.tengah {
    float: right;
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-right: 32px;
}

tr {
    line-height: 4px;
    min-height: 5px;
    height: 5px;
    font-size: 15px;
    font-family: "Mulish";
}


/*Ini Main konten Beranda*/

.beranda1 {
    padding: auto;
    margin: auto;
    background-image: url("../img/fotoHome.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.beranda1 h1 {
    color: whitesmoke;
    text-align: center;
    margin: 190px auto 35px auto;
    font-family: "Mulish";
    background-color: #007320;
    padding-top: 5px;
    width: 30%;
    height: 12%;
    /* background-color: #007320; */
}

.beranda h4 {
    text-align: left;
    color: black;
}

.beranda1 p {
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    background-color: #007320;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    height: auto;
    opacity: 0.5;
    margin-bottom: 100px;
}

.card-horizontal {
    display: flex;
    /* flex: 1 1 auto; */
}

.card-gambar {
    padding-top: 10px;
    width: 74px;
    height: 84px;
}

.beranda2 {
    margin-top: -77px;
    background-image: url("../img/fotoHome2.png");
    box-shadow: inset 0 0 0 2000px rgba(0, 115, 32, 0.85);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Ini css buatfooter */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul>li {
    padding: 4px;
    color: #c5cae9;
}

ul>li:hover {
    color: #957bda;
    cursor: pointer;
}

hr {
    border-width: 3px;
}

.card {
    padding: 2% 7%;
}

.social>i {
    padding: 1%;
    font-size: 15px;
}

.policy>div {
    padding: 4px;
}

.pusatInformasi {
    font-family: "Titillium Web", sans-serif;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.divider {
    border-top: 2px solid;
}

.beranda2 {
    height: 80vh;
    padding-top: 150px;
    color: white;
}

.beranda2 h1 {
    display: flex;
    justify-content: center;
}

.laporan {
    justify-content: center;
    position: relative;
    height: 350px;
    margin-left: 300px;
    margin-right: 300px;
    /* width: 1100px;
    left: 200px; */
    font-weight: bold;
    font-style: normal;
    font-family: Mulish;
}

.detail-laporan {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid white 3px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin-top: 31px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 36px;
}

.details {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: normal;
    justify-content: space-between;
    margin-top: 33px;
}

.details button {
    width: 248px;
}

.details p {
    width: 452px;
}

#number {
    color: #fcc740;
}

.Navbar__Link {
    padding-right: 8px;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media screen and (max-width: 500px) {
    body {
        width: 810px;
    }
    .navbar-brand {
        background-size: cover;
    }
    .header a {
        float: none;
        text-align: left;
    }
    .header-right {
        float: right;
        flex-direction: column;
        /* display: none; */
    }
    .header-right-toggle {
        float: right;
        text-align: right;
        /* align-self: flex-end; */
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .Navbar__ToggleShow {
        display: flex;
    }
    .nav-item {
        display: none;
    }
    .active {
        display: none;
    }
    .tabeltabelan {
        display: none;
    }
    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }
    .Navbar__Items {
        display: none;
    }
    .Navbar__Items--right {
        margin-left: 0;
    }
    .Navbar__ToggleShow {
        display: flex;
    }
    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}