{% extends 'base.html' %} {% load static %}
<!-- Konten utama dari sini ya-->
{% block content %}
<!-- Slide 1 -->
<div class="row vertical-center beranda1">
    <div class="text-center col-sm">
        <h1 style="color: whitesmoke">Masjid Al-Hidayah <br/> Purnawirawan Kopassus</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae
            <br /> erat dapibus faucibus semper sed elit. Curabitur pellentesque velit vel leo <br /> dignissim, in dictum orci posuere. Vestibulum sollicitudin arcu eget elit
            <br /> cursus lobortis. Morbi tristique dapibus tincidunt. Donec elit arcu, viverra s
        </p>
        <div class="d-none  d-lg-block container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 home-info">
                    <div class="card home-info" style="height: auto">
                        <div class="card-horizontal">

                            <div class="img-square-wrapper" style="margin-top: 20px; margin-right: 10px">
                                <img class="card-gambar" src="{% static 'img/location.png' %}" alt="Card image cap" />
                            </div>
                            <div class="card-body" style="text-align: left">
                                <h4 class="card-title">Masjid Al-Hidayah</h4>
                                <p class="card-text" style="text-align: left; background: none">
                                    Jln. Raya Ciherang <br />Perumahan Purnawirawan Kopassus<br /> Sukatani Tapos Depok
                                </p>
                            </div>

                            <div class="img-square-wrapper" style="margin-top: 20px; margin-right: 10px">
                                <img class="card-gambar" src="{% static 'img/phone.png' %}" alt="Card image cap" />
                            </div>
                            <div class="card-body" style="text-align: left; font-size: 15px">
                                <h4 class="card-title">Pusat Informasi</h4>
                                <p class="card-text" style="text-align: left;background: none;color: #000000;font-size: 15px;">
                                    08XXXXXXXXXXX <br /> (0341) XXXXXX
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slide 1 -->

<!-- Slide 2 -->
<div class="container-fluid vertical-center beranda2 d-none d-xl-block"> <!-- Gua out of idea kur, jadi gua none aja yak-->
    <h1>INFORMASI LAPORAN</h1>
    <div class="col-md-9 mx-auto " style="position: relative">
        <div class="tab laporan-tab">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item mr-1">
                    <a href="#infaq" class="nav-link link active" data-bs-toggle="tab">
            Infaq
          </a>
                </li>
                <li class="nav-item mr-1">
                    <a href="#zakat" class="nav-link link" data-bs-toggle="tab">
            Zakat
          </a>
                </li>
                <li class="nav-item mr-1">
                    <a href="#wakaf" class="nav-link link" data-bs-toggle="tab">
            Wakaf
          </a>
                </li>
                <li class="nav-item mr-1">
                    <a href="#shodaqoh" class="nav-link link" data-bs-toggle="tab">
            Shodaqoh
          </a>
                </li>
                <li class="nav-item mr-1">
                    <a href="#donasi" class="nav-link link" data-bs-toggle="tab">
            Donasi
          </a>
                </li>
            </ul>
        </div>
        <div class="detail-laporan">
            <div class="tab-content flex-center">
                <div class="tab-pane fade show pb-5 active content" id="infaq"> 
                    <div class="total">
                        <h1><strong>Laporan Saldo Infaq : </strong></h1>
                        <h1 id="number">Rp {{infaq.jumlah__sum}},-</h1>
                    </div>
                    <div class="details ">
                        <div class="norek">
                            <p>
                                Jika Ingin melakukan Infaq dapat dikirim melalui:<br/><br/> <b>Bank Syariah Mandiri<br/> 713 371 2307  an/ gatau siapa </b>
                            </p>
                        </div>
                        <div class="d-none d-lg-block div-laporan pb-5">
                            <button class="btn btn-secondary btn-laporan">
                              <a href="{% url 'laporan' %}"> Lihat Laporan Lengkap </a>
                              </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show pb-5" id="zakat">
                    <div class="total">
                        <h1><strong>Laporan Saldo Zakat : </strong></h1>
                        <h1 id="number">Rp {{zakat.total__sum}},-</h1>
                    </div>
                    <div class="details ">
                        <div class="norek">
                            <p>
                                Jika Ingin melakukan Zakat dapat dikirim melalui:<br/><br/> <b>Bank Syariah Mandiri <br/> 713 371 2307  an/ gatau siapa</b>
                            </p>
                        </div>
                        <div class="div-laporan pb-5">
                            <button class="btn btn-secondary btn-laporan">
                <a href="{% url 'laporan' %}"> Lihat Laporan Lengkap </a>
              </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show pb-5" id="wakaf">
                    <div class="total">
                        <h1><strong>Laporan Saldo Wakaf : </strong></h1>
                        <h1 id="number">Rp {{wakaf.jumlah__sum}},-</h1>
                    </div>
                    <div class="details ">
                        <div class="norek">
                            <p>
                                Jika Ingin melakukan Wakaf dapat dikirim melalui:<br/><br/> <b>Bank Syariah Mandiri<br/> 713 371 2307  an/ gatau siapa </b>
                            </p>
                        </div>
                        <div class="div-laporan pb-5">
                            <button class="btn btn-secondary btn-laporan">
                <a href="{% url 'laporan' %}"> Lihat Laporan Lengkap </a>
              </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show pb-5" id="shodaqoh">
                    <div class="total">
                        <h1><strong>Laporan Saldo Shodaqoh : </strong></h1>
                        <h1 id="number">Rp {{shodaqoh.total__sum}},-</h1>
                    </div>
                    <div class="details ">
                        <div class="norek">
                            <p>
                                Jika Ingin melakukan Shodaqoh dapat dikirim melalui:<br/><br/> <b>Bank Syariah Mandiri<br/> 713 371 2307  an/ gatau siapa </b>
                            </p>
                        </div>
                        <div class="div-laporan pb-5">
                            <button class="btn btn-secondary btn-laporan">
                <a href="{% url 'laporan' %}"> Lihat Laporan Lengkap </a>
              </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show pb-5" id="donasi">
                    <div class="total">
                        <h1><strong>Laporan Saldo Donasi : </strong></h1>
                        <h1 id="number">Rp {{donasi.jumlah__sum}},-</h1>
                    </div>
                    <div class="details ">
                        <div class="norek">
                            <p>
                                Jika Ingin melakukan Donasi dapat dikirim melalui:<br/><br/> <b>Bank Syariah Mandiri<br/> 713 371 2307  an/ gatau siapa </b>
                            </p>
                        </div>
                        <div class="div-laporan pb-5">
                            <button class="btn btn-secondary btn-laporan">
                <a href="{% url 'laporan' %}"> Lihat Laporan Lengkap </a>
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slide 2 -->

<!-- Slide 3-->
<div class="containter-fluid beranda3" style="padding-top: 50px">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 tab-col">
                    <h1 class="border-end border-success">
                        <strong>Jadwal</strong>
                    </h1>
                    <br />
                    <br />
                    <div class="col-md-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item mr-1 data">
                                <a href="#jadwal-kajian" class="nav-link active" data-bs-toggle="tab">Jadwal Kajian</a
                >
              </li>
              <li class="nav-item mr-1 data">
                <a href="#jadwal-jumat" class="nav-link" data-bs-toggle="tab"
                  >Jadwal Khatib Jumat</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 playfair float-end">
          <h2 class="d-none d-xl-block">Pantau Jadwal Kegiatan <br />Masjid Al-Hidayah disini</h2>
          <br />
          <div class="tab-content flex-center">
            <div class="data tab-pane fade show active" id="jadwal-kajian">
              <div class="row">
                <div class="col-4 mulish">
                  <a class="d-none d-xl-block"
                    style="
                      background-color: #e5e5e5;
                      padding: 5px;
                      padding-right: 100px;
                      border-radius: 0px 17.5px 17.5px 0px;
                      font-weight: bold;
                      color: black;
                    "
                    >Kajian Pekan ini <br
                  /></a>
                    </div>
                </div>
                <br /> {% for data in jadwal%}


                <div class="card mb-3 shadow card-jadwal">
                    <div class="row g-0">
                        <div class="col-md-2 align-self-center text-center ">
                            <h1 class="card-title">{{data.tanggal|date:"d"}}</h1>
                            <h3 class="card-title">{{data.tanggal|date:"F"}}</h3>
                        </div>
                        <div class="col-md-10 border-start border-success text-start" style="border: #007320;">
                            <div class="card-body">
                                <h5 class="card-title bold" style="color: #007320;">{{data.title}}</h5>
                                {% if data.online%}
                                <a href='{{data.link}}' target="_blank" class="btn btn-primary bold" style="background-color: #fcc740; color: black; border: none; font-size: 10px;">KAJIAN ONLINE</a> {% endif %}
                                <div class="playfair">
                                    <h5 class="card-title">{{data.penceramah}}</h5>
                                    <div class="row" style="color: #888888">
                                        <a class="card-text" style="color: #888888; text-decoration: none">
                                            <ion-icon name="time-outline"></ion-icon>{{data.tanggal|date:"H:i"}}-{{data.selesai|date:'G:i'}}
                                            <br/>
                                        </a>
                                    </div>
                                    <div class="row" style="color: #888888">
                                        <a class="card-text" style="color: #888888; text-decoration: none">
                                            <ion-icon name="location"></ion-icon>Masjid Al-Hidayah
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br /> {% endfor %}
                <br />

                <br />
                <a class="btn btn-primary" href="{% url 'jadwal'%}" style="
                  background-color: #fcc740;
                  color: black;
                  border: none;
                  float: right;
                  border-radius: 50px;
                ">Lihat Semua Jadwal</a
              >
              <br />
              <br />
              <br />
              <br />
            </div>
            <div class="data tab-pane fade show" id="jadwal-jumat">
              <div class="row">
                <div class="col-4">
                  <a class="d-none d-lg-block"
                    style="
                      background-color: #e5e5e5;
                      padding: 5px;
                      padding-right: 100px;
                      border-radius: 0px 17.5px 17.5px 0px;
                      font-weight: bold;
                      color: black;
                    "
                    >Khatib Bulan ini <br
                  /></a>
            </div>
        </div>
        <br /> {% for data in jumat%}
        <!-- Ini awal cards kedua yang 10 maret Adab Duduk dan Bermajelis-->
        <div class="card mb-3 shadow card-jadwal">
            <div class="row g-0">
                <div class="col-md-2 align-self-center text-center ">
                    <h1 class="card-title">{{data.tanggal|date:"d"}}</h1>
                    <h3 class="card-title">{{data.tanggal|date:"F"}}</h3>
                </div>
                <div class="col-md-10 border-start border-success text-start" style="border: #007320;">
                    <div class="card-body d-flex justify-content-between">
                        <div class="playfair khatib">
                            <h5 class="card-title bold" style="color: #007320;">Khatib</h5>
                            <h5 class="card-title">{{data.khatib}}</h5>
                        </div>
                        <div class="playfair khatib">
                            <h5 class="card-title bold" style="color: #007320;">Imam</h5>
                            <h5 class="card-title">{{data.imam}}</h5>
                        </div>
                        <div class="playfair khatib">
                            <h5 class="card-title bold" style="color: #007320;">Muadzin</h5>
                            <h5 class="card-title">{{data.muadzin}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /> {% endfor %}
        <br />
        <a class="btn btn-primary" href="{% url 'jadwal'%}" style="
                  background-color: #fcc740;
                  color: black;
                  border: none;
                  float: right;
                  border-radius: 50px;
                ">Lihat Semua Jadwal</a
              >
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  </div>
  <!-- Slide 3-->


<!-- Slide 4 -->
<div class="containter-fluid vertical center beranda4 pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div>
          <h1
            style="
              color: white;
              font-size: 30px;
              font-family: Mulish;
              font-style: normal;
              font-weight: bold;
            "
            class="d-flex justify-content-center"
          >
            <strong>Layanan Masjid Al-Hidayah</strong>
          </h1>
          <br />
          <h5
            style="
              color: white;
              font-size: 24px;
              font-family: Playfair Display;
              font-style: normal;
              font-weight: normal;
              line-height: 32px;
            "
            class="d-flex justify-content-center"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros
            vitae erat dapibus faucibus semper
          </h5>
          <br />
          <br />
        </div>
      </div>
      <!--Coba cards baru dari yt-->
        <div class="col-md-12">
          <div class="row justify-content-center">
            <div class="d-flex justify-content-center containercardSlide4">
              <div class="cardSlide4" style=" background: linear-gradient(180deg, rgba(82, 82, 82, 0) 45.51%, rgba(0, 0, 0, 0.7) 100%); mix-blend-mode: normal;">
                <div class="imgBx">
                  <img src="{% static 'img/fotoPemakamanSlide4.png' %}">
                </div>
                <div class="kontenSlide4" style="background: transparent;">
                  <h4 style="color: white;">Pemakaman </h4>
                  <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
              </div>
              
              <div class="cardSlide4" style=" background: linear-gradient(180deg, rgba(82, 82, 82, 0) 45.51%, rgba(0, 0, 0, 0.7) 100%); mix-blend-mode: normal;">
                <div class="imgBx">
                  <img src="{% static 'img/fotoYatimSlide4.png' %}">
                </div>
                <div class="kontenSlide4" style="background: transparent;">
                  <h4 style="color: white;">Anak Yatim </h4>
                  <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
              </div>
              
              <div class="cardSlide4" style=" background: linear-gradient(180deg, rgba(82, 82, 82, 0) 45.51%, rgba(0, 0, 0, 0.7) 100%); mix-blend-mode: normal;">
                <div class="imgBx">
                  <img src="{% static 'img/fotoZakatSlide4.png' %}">
                </div>
                <div class="kontenSlide4" style="background: transparent;">
                  <h4 style="color: white;">Zakat</h4>
                  <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!--Coba cards baru dari yt-->
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
  <!-- Slide 4 -->

  <!-- Slide 5-->
  <div
    class="containter-fluid beranda3 shadow"
    style="padding-top: 50px; background-color: #f5f5f5"
  >
    <div class="container">
      <!-- Judul kegiatan -->
      <div class="row">
        <div class="col-md-2 align-self-center border-end border-success">
          <h1  style="font-size:45px;">
            <strong>Kegiatan</strong>
          </h1>
        </div>
        <div class="col-md-8 ps-5 float-end">
          <h2 class="d-none d-xl-block"
            style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
            Galeri dan dokumentasi <br />kegiatan Masjid Al-Hidayah
          </h2>
          <br />
        </div>
      </div>
      <!-- Judul kegiatan -->
<br>
      <!--row gambar kegiatan yang bisa di hover-->
      <!--Coba cards baru dari yt-->
      
      
        <div class="col-md-12">
        <div class="row">
          <div class="containercardSlide4">
            {% for data in kegiatan %}
            <!--Kegiatan 1-->
            <div class="cardSlide4">
              <div class="imgBx">
                <img src="{{data.thumbnail.url}}" />
              </div>
              <div class="kontenSlide4">
                <h2>{{data.kegiatan}}</h2>
                <p>
                  {{data.deskripsi}}
                </p>
                <a href="{{data.link}}" target="_blank" class="btn btn-success shadow">Selengkapnya</a>
    </div>
</div>
{% endfor %}
<!--Kegiatan 1-->


</div>
</div>
</div>
<!--Coba cards baru dari yt-->
<!--row gambar kegiatan yang bisa di hover-->
</div>

<!-- Slide 5-->

{% endblock content %}
</div>
<!-- Slide 5-->

</div>