{% extends 'base.html' %} {% load static %}
<!-- Konten utama dari sini ya-->
{% block content %}
<!-- Slide 1 -->
<div class="row vertical-center beranda1">
    <div class="text-center col-sm">
        <h1 style="color: whitesmoke">Masjid Al-Hidayah</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae
            <br /> erat dapibus faucibus semper sed elit. Curabitur pellentesque velit vel leo <br /> dignissim, in dictum orci posuere. Vestibulum sollicitudin arcu eget elit
            <br /> cursus lobortis. Morbi tristique dapibus tincidunt. Donec elit arcu, viverra s
        </p>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12">
                    <div class="card" style="height: auto">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper" style="margin-top: 20px; margin-right: 10px">
                                <img class="card-gambar" src="{% static 'img/location.png' %}" alt="Card image cap" />
                            </div>
                            <div class="card-body" style="text-align: left">
                                <h4 class="card-title">Masjid Al-Hidayah</h4>
                                <p class="card-text" style="
                    text-align: left;
                    background: none;
                    color: #000000;
                    font-size: 15px;
                  ">
                                    Jln. Raya Ciherang <br />Perumahan Purnawirawan Kopassus Pelita 1<br /> Sukatani Tapos Depok
                                </p>
                            </div>
                            <div class="img-square-wrapper" style="margin-top: 20px; margin-right: 10px">
                                <img class="card-gambar" src="{% static 'img/phone.png' %}" alt="Card image cap" />
                            </div>
                            <div class="card-body" style="text-align: left; font-size: 15px">
                                <h4 class="card-title">Pusat Informasi</h4>
                                <p class="card-text" style="
                    text-align: left;
                    background: none;
                    color: #000000;
                    font-size: 15px;
                  ">
                                    08XXXXXXXXXXX <br /> (0341) XXXXXX
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slide 1 -->

<!-- Slide 2 -->
<div class="container-fluid vertical-center beranda2">
    <h1>INFORMASI LAPORAN</h1>
    <div class="col-md-9 mx-auto" style="position: relative;">
        <div class="tab">
            <h3>tes</h3>
            <h3>tes</h3>
            <h3>tes</h3>
            <h3>tes</h3>
            <h3>tes</h3>
        </div>
        <div class="detail-laporan">
            <div class="total">
                <h1><strong>Laporan Saldo Infaq : </strong></h1>
                <h1 id="number">Rp 8.540.000,-</h1>
            </div>
            <div class="details">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus semper sed elit. Curabitur pellentesque velit vel leo dignissim,
                </p>
                <button class="btn btn-secondary" style="background-color: white; color: black; border-radius: 10px;">Lihat Laporan Lengkap</button>
            </div>
        </div>
    </div>
</div>
<!-- Slide 2 -->


<!-- Slide 3-->
<div class="containter-fluid beranda3" style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h1 style="font-size: 50px;">
                    <strong>Jadwal</strong>
                </h1>
                <br>
                <br>
                <div class="col" style="box-shadow: 4px 5px #e5e5e5; background-color: #007320; border: none;">
                    <a class=" btn btn-primary " style=" background-color: #007320; border: none; ">Jadwal Kajian</a>
                </div>
                <div class="col " style="padding-top: 7px;  border-bottom: solid #e5e5e5;  ">
                    <a class="btn " style="background-color: white; color: black; ">Jadwal Khatib Jumat</a>
                </div>
            </div>
            <div class="col-md-1 pembatasSlide3 " style="margin-left: 50px; "></div>
            <div class="col-md-8 ">
                <h2> Pantau Jadwal Kegiatan <br>Masjid Al-Hidayah disini</h2>
                <br>
                <div class="row ">
                    <div class="col-4 ">
                        <a style="background-color: #E5E5E5; padding: 5px; padding-right: 100px; border-radius: 0px 17.5px 17.5px 0px;">Kajian Pekan ini <br></a>

                    </div>
                </div>
                <br>


                <!-- Ini awal cards pertama yang 10 maret Penyebab Munculnya Akhlak Yang Buruk-->
                <div class="card shadow p-3">
                    <div class="row">
                        <div class="col" style="text-align: center; margin-left: -200px;">
                            <h1 class="card-title">10</h1>
                            <h3 class="card-title">Maret</h3>
                        </div>
                        <div class="col pembatasSlide3card " style="margin-left: -200px; "></div>
                        <div class="col" style="margin-left: -550px;">
                            <h5 class="card-title" style="color: #007320;">PENYEBAB MUNCULNYA AKHLAK YANG BURUK</h5>
                            <h5 class="card-title">Ustadz Ali Nur</h5>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-clock"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">16:00-17:00<br></a>
                            </div>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-map-marker-alt"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">Masjid Al-Hidayah</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ini akhir cards pertama yang 10 maret Penyebab Munculnya Akhlak Yang Buruk-->
                <br>


                <!-- Ini awal cards kedua yang 10 maret Adab Duduk dan Bermajelis-->
                <div class="card shadow p-3">
                    <div class="row">
                        <div class="col" style="text-align: center; margin-left: -200px;">
                            <h1 class="card-title">10</h1>
                            <h3 class="card-title">Maret</h3>
                        </div>
                        <div class="col pembatasSlide3card " style="margin-left: -200px; "></div>
                        <div class="col" style="margin-left: -550px;">
                            <h5 class="card-title" style="color: #007320;">ADAB DUDUK DAN BERMAJELIS</h5>
                            <a class="btn btn-primary " style="background-color: #FCC740; color:black; border: none; font-size: 10px; ">KAJIAN ONLINE</a>
                            <h5 class="card-title">Ustadz Ali Nur</h5>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-clock"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">16:00-17:00<br></a>
                            </div>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-map-marker-alt"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">Masjid Al-Hidayah</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ini akhir cards kedua yang 10 maret Adab Duduk dan Bermajelis-->
                <br>

                <!-- Ini awal cards ketiga yang 11 maret Memahami Tauhid-->
                <div class="card shadow p-3">
                    <div class="row">
                        <div class="col" style="text-align: center; margin-left: -200px;">
                            <h1>11</h1>
                            <h3>Maret</h3>
                        </div>
                        <div class="col pembatasSlide3card " style="margin-left: -200px; "></div>
                        <div class="col" style="margin-left: -550px;">
                            <h5 class="card-title" style="color: #007320;">MEMAHAMI TAUHID</h5>
                            <a class="btn btn-primary " style="background-color: #FCC740; color:black; border: none; font-size: 10px; ">KAJIAN ONLINE</a>
                            <h5 class="card-title">Ustadz Ali Nur</h5>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-clock"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">16:00-17:00<br></a>
                            </div>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-map-marker-alt"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">Masjid Al-Hidayah</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ini akhir cards ketiga yang 11 maret Memahami Tauhid-->
                <br>


                <!-- Ini awal cards keempat yang 11 maret Keajaiban Shalat-->
                <div class="card shadow p-3">
                    <div class="row">
                        <div class="col" style="text-align: center; margin-left: -200px;">
                            <h1>11</h1>
                            <h3>Maret</h3>
                        </div>
                        <div class="col pembatasSlide3card " style="margin-left: -200px; "></div>
                        <div class="col" style="margin-left: -550px;">
                            <h5 class="card-title" style="color: #007320;">KEAJAIBAN SHALAT</h5>
                            <h5 class="card-title">Ustadz Ali Nur</h5>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-clock"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">16:00-17:00<br></a>
                            </div>
                            <div class="row" style="color: #888888;">
                                <i class="fas fa-map-marker-alt"></i>
                                <a class="card-text" style="color: #888888; text-decoration: none;">Masjid Al-Hidayah</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ini akhir cards keempat yang 11 maret Keajaiban Shalat-->
                <br>

                <br>
                <a class="btn btn-primary " href="{% url 'jadwal'%}" style="background-color: #FCC740; color:black; border: none; float: right; border-radius: 50px; ">Lihat Semua Jadwal</a>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>


    <!-- Slide 3-->



    <!-- Slide 4 -->
    <div class="containter-fluid vertical center beranda4" style="padding-top: 200px; padding-bottom: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 style="color: white; font-size: 50px; font-family: Mulish;font-style: normal; font-weight: bold;"><strong>Layanan<br>Masjid<br>Al-Hidayah</strong></h1>
                    <br>
                    <br>
                    <h5 style="color: white; font-size: 24px; font-family: Playfair Display; font-style: normal; font-weight: normal; line-height: 32px;">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. <br> In ac eros vitae erat dapibus <br> faucibus semper sed elit. <br> Curabitur pellentesque velit <br> vel leo dignissim,</h5>
                    <br>
                    <br>

                </div>

                <!-- Ini cards yang kotak itu-->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-6" style="padding-right:0; padding-left:0;">
                            <div class="card bg-transparent text-white " style="border: none; ">
                                <img src="../static/img/fotoPemakamanSlide4.png" class="card-img-top img-fluid" style="padding:0%; width: 100%;  object-fit: cover;  " alt="...">
                                <div class="row">
                                    <div class="card-img-overlay" style="padding-left: 35px;">
                                        <h5 style="position: absolute; bottom: 15px; padding-left: 10px; font-family: Mulish; font-style: normal; font-weight: bold; font-size: 20px; line-height: 25px;">Pemakaman</h5>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-6" style="padding-right:0; padding-left:0;">
                            <div class="card bg-transparent text-white " style="border: none;">
                                <img src="../static/img/fotoYatimSlide4.png" class="card-img-top img-fluid" style="padding:0%; width: 100%;  object-fit: cover;" alt="...">
                                <div class="row">
                                    <div class="card-img-overlay" style="padding-left: 35px;">
                                        <h5 style="position: absolute; bottom: 15px; padding-left: 10px; font-family: Mulish; font-style: normal; font-weight: bold; font-size: 20px; line-height: 25px;">Anak Yatim</h5>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-6" style="padding-right:0; padding-left:0;">
                            <div class="card bg-transparent text-white " style="border: none;">
                                <img src="../static/img/fotoZakatSlide4.png" class="card-img-top img-fluid" style="padding:0%; width: 100%;  object-fit: cover;" alt="...">
                                <div class="row">
                                    <div class="card-img-overlay" style="padding-left: 35px;">
                                        <h5 style="position: absolute; bottom: 15px; padding-left: 10px; font-family: Mulish; font-style: normal; font-weight: bold; font-size: 20px; line-height: 25px;">Zakat</h5>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <!-- Ini cards yang kotak itu-->
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <!-- Slide 4 -->


    {% endblock content %}