{% extends 'base.html' %} {% block content %}
<!-- Slide 1 -->
<div class="row vertical-center berandaInformasi1">

    <div class="container-fluid vertical-center text-center col-sm berandaInformasi1 pt-5 pb-5">
        <h1 style="color: whitesmoke">Tentang Masjid Al-Hidayah</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae
            <br /> erat dapibus faucibus semper sed elit. Curabitur pellentesque velit vel leo <br /> dignissim, in dictum orci posuere. Vestibulum sollicitudin arcu eget elit
            <br /> cursus lobortis. Morbi tristique dapibus tincidunt. Donec elit arcu, viverra s
        </p>
    </div>
</div>
<!-- Slide 1 -->

<!-- Slide 2-->
<div class="row vertical-center pt-5 pb-5 shadow">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-2 align-self-center border-end border-success">
                    <h1 style="font-size:45px;">
                        <strong>Sejarah</strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Perjalanan panjang<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>
            <br>
            <h2><strong>Sub Header Kalau ada</strong></h2>

            <div class="container-fluid pt-3 vertical-center mx-auto d-flex justify-content-center">
                <p style="font-size:24px; line-height:32px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus <br> semper sed elit. Curabitur pellentesque velit vel leo dignissim, in dictum orci posuere. <br> Vestibulum sollicitudin arcu eget elit
                    cursus lobortis. Morbi tristique dapibus tincidunt. Donec <br> elit arcu, viverra suscipit sem vitae, auctor rhoncus quam. Fusce viverra ex nec justo accumsan, <br> sit amet scelerisque nisl mollis. Nulla aliquam metus a justo vestibulum,
                    ac elementum sem<br> interdum. In quis nulla et ex venenatis pretium. Praesent mollis quis leo viverra maximus. <br> Suspendisse efficitur in tortor et commodo. Duis semper metus quis leo consequat, vel fringilla <br> ipsum pellentesque.
                    Cras consequat semper suscipit. Phasellus lacinia ultrices pharetra. <br> Maecenas gravida dolor vitae egestas molestie.
                </p>
            </div>


            <div class="row justify-content-center mx-5">
                <div class="card mx-5" style="width: 18rem; border:none;">
                    <img src="../static/img/fotoGambarNguliInformasi.png" class="card-img-top" alt="Foto Nguli Masjid">
                    <div class="card-body">
                        <h5 class="card-title">Gambar Nguli</h5>

                    </div>
                </div>

                <div class="card mx-5" style="width: 18rem; border:none;">
                    <img src="../static/img/fotoGambarPengesahanInformasi.png" class="card-img-top" alt="Foto Pengesahan Masjid">
                    <div class="card-body">
                        <h5 class="card-title">Gambar Pengesahan</h5>

                    </div>
                </div>

                <div class="card mx-5" style="width: 18rem; border:none;">
                    <img src="../static/img/fotoGambarTerserahInformasi.png" class="card-img-top" alt="Foto terserah masjid">
                    <div class="card-body">
                        <h5 class="card-title">Gambar Terserah</h5>

                    </div>
                </div>

            </div>

            <div class="container-fluid pt-3 vertical-center mx-auto d-flex justify-content-center">
                <p style="font-size:24px; line-height:32px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus <br> semper sed elit. Curabitur pellentesque velit vel leo dignissim, in dictum orci posuere. <br> Vestibulum sollicitudin arcu eget elit
                    cursus lobortis.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Slide 2-->

<!-- Slide 3-->
<div class="row vertical-center pt-5 pb-5 shadow">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-4 align-self-center border-end border-success">
                    <h1 style="font-size:45px;">
                        <strong>Struktur DKM</strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Struktur DKM<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>

            <p class="" style="font-size:24px; line-height:32px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus <br> semper sed elit. Curabitur pellentesque velit vel leo dignissim, in dictum orci posuere. <br> Vestibulum sollicitudin arcu eget elit cursus
                lobortis.
            </p>

            <div class="row justify-content-center mx-5">
                <div class="card mx-5" style="border:none;">
                    <img src="../static/img/fotoStrukturDKMdummyInformasi.png" class="card-img-top" alt="Foto Nguli Masjid">
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Slide 3-->

<!-- Slide 4-->
<div class="row vertical-center pt-5 pb-5 shadow">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-4 align-self-center border-end border-success">
                    <h1 style="font-size:45px;">
                        <strong>Imam</strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Daftar Imam<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>

            <!-- Carousel disini -->
            <div class="container my-4">



                <!--Carousel Wrapper-->
                <div id="carouselxampleControls" class="carousel slide" data-bs-ride="carousel">

                    <!--Controls-->


                    <!--Indicators-->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <!--/.Indicators-->

                    <!--Slides-->
                    <div class="carousel-inner">

                        <!--First slide-->
                        <div class="carousel-item active">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.Second slide-->

                        <!--Third slide-->
                        <div class="carousel-item">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.Third slide-->

                    </div>
                    <!--/.Slides-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden" >Previous</span>
                      </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden" >Next</span>
                      </button>
                    <!-- <div class="controls-top">
                        <a class="carousel-control-prev btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="carousel-control-next btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div> -->
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->


            </div>
            <!-- Carousel disini -->


        </div>
    </div>
</div>
<!-- Slide 4-->

<!-- Slide 5-->
<div class="row vertical-center pt-5 pb-5 shadow">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-4 align-self-center border-end border-success">
                    <h1 style="font-size:45px;">
                        <strong>Penceramah</strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Daftar Penceramah<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>

            <!-- Carousel disini -->
            <div class="container my-4">



                <!--Carousel Wrapper-->
                <div id="carouselxampleControls" class="carousel slide" data-bs-ride="carousel">

                    <!--Controls-->


                    <!--Indicators-->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <!--/.Indicators-->

                    <!--Slides-->
                    <div class="carousel-inner">

                        <!--First slide-->
                        <div class="carousel-item active">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.Second slide-->

                        <!--Third slide-->
                        <div class="carousel-item">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.Third slide-->

                    </div>
                    <!--/.Slides-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden" >Previous</span>
                      </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden" >Next</span>
                      </button>
                    <!-- <div class="controls-top">
                        <a class="carousel-control-prev btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="carousel-control-next btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div> -->
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->


            </div>
            <!-- Carousel disini -->


        </div>
    </div>
</div>
<!-- Slide 5-->

<!-- Slide 6-->

<!-- Slide 6-->

{% endblock content %}