{% extends 'base.html' %} {% block content %}
<!-- Slide 1 -->
<div class="row vertical-center berandaInformasi1">

    <div class="container-fluid vertical-center text-center col-sm berandaInformasi1 pt-5 pb-5">
        <h1 style="color: whitesmoke">Tentang Masjid Al-Hidayah</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae
            <br /> erat dapibus faucibus semper sed elit. Curabitur pellentesque velit vel leo <br /> dignissim, in dictum orci posuere. Vestibulum sollicitudin arcu eget elit
            <br /> cursus lobortis. Morbi tristique dapibus tincidunt. Donec elit arcu, viverra s
        </p>
    </div>
</div>
<!-- Slide 1 -->

<!-- Slide 2-->
<div class="row vertical-center pt-5 pb-5 shadow">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-2 align-self-center border-end border-success">
                    <h1 style="font-size:45px; font-weight: bold;">
                        <strong>Sejarah</strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 class="d-none d-xl-block" style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Perjalanan panjang<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>
            <br>
            <h2><strong>Sub Header Kalau ada</strong></h2>

            <div class="container-fluid pt-3 vertical-center mx-auto d-flex justify-content-center">
                <p style="font-size:24px; line-height:32px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus <br> semper sed elit. Curabitur pellentesque velit vel leo dignissim, in dictum orci posuere. <br> Vestibulum sollicitudin arcu eget elit
                    cursus lobortis. Morbi tristique dapibus tincidunt. Donec <br> elit arcu, viverra suscipit sem vitae, auctor rhoncus quam. Fusce viverra ex nec justo accumsan, <br> sit amet scelerisque nisl mollis. Nulla aliquam metus a justo vestibulum,
                    ac elementum sem<br> interdum. In quis nulla et ex venenatis pretium. Praesent mollis quis leo viverra maximus. <br> Suspendisse efficitur in tortor et commodo. Duis semper metus quis leo consequat, vel fringilla <br> ipsum pellentesque.
                    Cras consequat semper suscipit. Phasellus lacinia ultrices pharetra. <br> Maecenas gravida dolor vitae egestas molestie.
                </p>
            </div>


            <div class="row justify-content-center mx-5">
                <div class="card mx-5" style="width: 18rem; border:none;">
                    <img src="../static/img/fotoGambarNguliInformasi.png" class="card-img-top" alt="Foto Nguli Masjid">
                    <div class="card-body">
                        <h5 class="card-title">Gambar Nguli</h5>

                    </div>
                </div>

                <div class="card mx-5" style="width: 18rem; border:none;">
                    <img src="../static/img/fotoGambarPengesahanInformasi.png" class="card-img-top" alt="Foto Pengesahan Masjid">
                    <div class="card-body">
                        <h5 class="card-title">Gambar Pengesahan</h5>

                    </div>
                </div>

                <div class="card mx-5" style="width: 18rem; border:none;">
                    <img src="../static/img/fotoGambarTerserahInformasi.png" class="card-img-top" alt="Foto terserah masjid">
                    <div class="card-body">
                        <h5 class="card-title">Gambar Terserah</h5>

                    </div>
                </div>

            </div>

            <div class="container-fluid pt-3 vertical-center mx-auto d-flex justify-content-center">
                <p style="font-size:24px; line-height:32px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus <br> semper sed elit. Curabitur pellentesque velit vel leo dignissim, in dictum orci posuere. <br> Vestibulum sollicitudin arcu eget elit
                    cursus lobortis.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Slide 2-->

<!-- Slide 3-->
<div class="row vertical-center pt-5 pb-5 shadow" style="background: #F2F2F2;">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-4 align-self-center border-end border-success">
                    <h1 style="font-size:45px; font-weight: bold;">
                        <strong>Struktur DKM</strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 class="d-none d-md-block" style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Struktur DKM<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>
            <br>
            <p class="" style="font-size:24px; line-height:32px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus <br> semper sed elit. Curabitur pellentesque velit vel leo dignissim, in dictum orci posuere. <br> Vestibulum sollicitudin arcu eget elit cursus
                lobortis.
            </p>

            <div class="row justify-content-center mx-5">
                <div class="card mx-5" style="border:none;">
                    <img src="../static/img/fotoStrukturDKMdummyInformasi.png" class="card-img-top" alt="Foto Nguli Masjid">
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Slide 3-->

<!-- Slide 4 -->
<div class="row vertical-center pt-5 pb-5 shadow">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-4 align-self-center border-end border-success">
                    <h1 style="font-size:45px; font-weight: bold;">
                        <strong>Imam </strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 class="d-none d-md-block" style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Daftar Imam<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>

            <!-- Carousel disini -->
            <div class="container my-4">
                <div id="carouselImam" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselImam" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselImam" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselImam" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <!-- Imam slide 1-->
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ammi Nur Baits</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Imam slide 1-->

                        <div class="carousel-item">
                            <div class="row">

                                <!-- Imam slide 2-->
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ammi Nur Baits</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Imam Slide 2-->

                        <div class="carousel-item">
                            <div class="row">

                                <!-- Imam slide 3-->
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ammi Nur Baits</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Imam Slide 3-->
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImam" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselImam" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!-- Carousel disini -->


            </div>
        </div>
    </div>
</div>
<!-- Slide 4 -->

<!-- Slide 5 -->
<div class="row vertical-center pt-5 pb-5 shadow" style="background: #F2F2F2;">
    <div class="container-fluid vertical-center playfair">
        <div class="container">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-4 align-self-center border-end border-success">
                    <h1 style="font-size:45px; font-weight: bold;">
                        <strong>Penceramah </strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 class="d-none d-lg-block" style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Daftar Penceramah<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>

            <!-- Carousel disini -->
            <div class="container my-4">
                <div id="carouselPenceramah" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPenceramah" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPenceramah" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPenceramah" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <!-- Imam slide 1-->
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ammi Nur Baits</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Imam slide 1-->

                        <div class="carousel-item">
                            <div class="row">

                                <!-- Imam slide 2-->
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ammi Nur Baits</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Imam Slide 2-->

                        <div class="carousel-item">
                            <div class="row">

                                <!-- Imam slide 3-->
                                <div class="col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ammi Nur Baits</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Ali Nur</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 clearfix d-none d-md-block">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../static/img/fotoDummyImamPenceramah.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Ustadz Lutfi Abdul Jabbar</h4>
                                            <p class="card-text">Informasi tambahan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Imam Slide 3-->
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPenceramah" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPenceramah" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!-- Carousel disini -->


            </div>
        </div>
    </div>
</div>
<!-- Slide 5 -->

<!-- Slide 6-->
<div class="row vertical-center pt-5 pb-5 shadow">2
    <div class="container-fluid vertical-center playfair">
        <div class="container ">
            <!-- Judul kegiatan -->
            <div class="row">
                <div class="col-md-4 align-self-center border-end border-success">
                    <h1 style="font-size:45px; font-weight: bold;">
                        <strong>Lokasi</strong>
                    </h1>
                </div>
                <div class="col-md-8 ps-5 float-end">
                    <h2 class="d-none d-md-block" style="font-family: Playfair Display;font-style: normal;font-weight: normal;font-size: 30px;line-height: 40px;">
                        Cari Lokasi<br /> Masjid Al-Hidayah
                    </h2>
                    <br />
                </div>
            </div>
            <br>

            <p class="pt-45 pb-5" style="font-size:24px; line-height:32px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac eros vitae erat dapibus faucibus <br> semper sed elit. Curabitur pellentesque velit vel leo dignissim, in dictum orci posuere. <br> Vestibulum sollicitudin arcu eget elit cursus
                lobortis.
            </p>

            <div class="row justify-content-center shadow">
                <!-- Maps Masjid Al-Hidayah-->
                <iframe class="mapsMasjid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.9726702105027!2d106.88805381535528!3d-6.397523395370972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69eb403f59a5e5%3A0x5f82ed1332556de0!2sMasjid%20Al%20Hidayah!5e0!3m2!1sen!2sid!4v1620994439356!5m2!1sen!2sid"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
                <!-- Maps Masjid Al-Hidayah-->
            </div>
        </div>

    </div>
</div>
</div>
<!-- Slide 6-->

{% endblock content %}