{% extends 'base.html' %} {% block content %}
<div class="containter-fluid beranda3" style="padding-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h1 style="font-size: 50px">
          <strong>Jadwal</strong>
        </h1>
        <br />
        <br />
        <div
          class="col"
          style="
            box-shadow: 4px 5px #e5e5e5;
            background-color: #007320;
            border: none;
          "
        >
          <a
            class="btn btn-primary"
            style="background-color: #007320; border: none"
            >Jadwal Kajian</a
          >
        </div>
        <div class="col" style="padding-top: 7px; border-bottom: solid #e5e5e5">
          <a class="btn" style="background-color: white; color: black"
            >Jadwal Khatib Jumat</a
          >
        </div>
      </div>
      <div class="col-md-1 pembatasSlide3" style="margin-left: 50px"></div>
      <div class="col-md-8">
        <h2>Pantau Jadwal Kegiatan <br />Masjid Al-Hidayah disini</h2>
        <br />
        <div class="row">
          <div class="col-4">
            <a
              style="
                background-color: #e5e5e5;
                padding: 5px;
                padding-right: 100px;
                border-radius: 0px 17.5px 17.5px 0px;
              "
              >Kajian Pekan ini <br
            /></a>
          </div>
        </div>
        <br />

        {% for data in jadwal%}
        <!-- For loop buat nampilin data dari database-->
        <div class="card shadow p-3">
          <div class="row">
            <div class="col" style="text-align: center; margin-left: -200px">
              <h1 class="card-title">{{data.tanggal|date:"d"}}</h1>
              <h3 class="card-title">{{data.tanggal|date:"F"}}</h3>
            </div>
            <div
              class="col pembatasSlide3card"
              style="margin-left: -200px"
            ></div>
            <div class="col" style="margin-left: -550px">
              <h5 class="card-title" style="color: #007320">{{data.title}}</h5>
              {% if data.online%}
              <a
                class="btn btn-primary"
                style="
                  background-color: #fcc740;
                  color: black;
                  border: none;
                  font-size: 10px;
                "
                >KAJIAN ONLINE</a
              >
              {% endif %}
              <h5 class="card-title">{{data.penceramah}}</h5>
              <div class="row" style="color: #888888">
                <i class="fas fa-clock"></i>
                <a
                  class="card-text"
                  style="color: #888888; text-decoration: none"
                  >{{data.tanggal|date:"H:i"}}-{{data.selesai|date:'G:i'}}<br
                /></a>
              </div>
              <div class="row" style="color: #888888">
                <i class="fas fa-map-marker-alt"></i>
                <a
                  class="card-text"
                  style="color: #888888; text-decoration: none"
                  >Masjid Al-Hidayah</a
                >
              </div>
            </div>
          </div>
        </div>
        <br />
        {% endfor %}
        <div class="row">
            <div class="col-4">
              <a
                style="
                  background-color: #e5e5e5;
                  padding: 5px;
                  padding-right: 100px;
                  border-radius: 0px 17.5px 17.5px 0px;
                "
                >Kajian Sudah Lewat <br
              /></a>
            </div>
          </div>
          <br />
  
          {% for data in jadwalLewat%}
          <!-- For loop buat nampilin data dari database-->
          <div class="card shadow p-3">
            <div class="row">
              <div class="col" style="text-align: center; margin-left: -200px;">
                <h1 class="card-title">{{data.tanggal|date:"d"}}</h1>
                <h3 class="card-title">{{data.tanggal|date:"F"}}</h3>
              </div>
              <div
                class="col pembatasSlide3card"
                style="margin-left: -200px"
              ></div>
              <div class="col" style="margin-left: -550px">
                <h5 class="card-title" style="color: #007320">{{data.title}}</h5>
                {% if data.online%}
                <a
                  class="btn btn-primary"
                  style="
                    background-color: #fcc740;
                    color: black;
                    border: none;
                    font-size: 10px;
                  "
                  >KAJIAN ONLINE</a
                >
                {% endif %}
                <h5 class="card-title">{{data.penceramah}}</h5>
                <div class="row" style="color: #888888">
                  <i class="fas fa-clock"></i>
                  <a
                    class="card-text"
                    style="color: #888888; text-decoration: none"
                    >{{data.tanggal|date:"H:i"}}-{{data.selesai|date:'G:i'}}<br
                  /></a>
                </div>
                <div class="row" style="color: #888888">
                  <i class="fas fa-map-marker-alt"></i>
                  <a
                    class="card-text"
                    style="color: #888888; text-decoration: none"
                    >Masjid Al-Hidayah</a
                  >
                </div>
              </div>
            </div>
          </div>
          <br />
          {% endfor %}
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
